body{
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}
img{
	width: 100%;
}
.behind{
	width:100%;
	height: 93vh;
	position: relative;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

.bforebhind {
	content: '';
	position: absolute;
	top: 0;
	left :0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.behind-top{
	height: 90px;
	position: relative;
}

.behind-top img{
	width: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}
.behind-top a{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);

}
.behind-mid{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-top: 7rem;
}
.behind-mid h1{
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin-bottom: 2rem;
}
.behind-mid p{
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin-bottom: 2rem;
}
.tap{

}

.btn{
	text-decoration: none;
	display: inline-block;
	background: #e50914;
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}
.btn:visited{
	color:#fff;
}
}
.btnsm{
	border-radius: 5px;
}
.btnbg{
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}
.btn:hover{
	opacity: 0.9;
}
.tap{
	background: #141414;
	padding-top: 1rem;
	border-bottom: 3px solid #3d3d3d;
	border-right: none;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.container .tab p{
	color: white;
}
.container .tab:hover{
	color: red;
}